{% style %}
  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4,0,0.6,1) infinite;
  }
  @keyframes pulse {
    0,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
{% endstyle %}

<div class="fc-skeleton hidden slider-mobile-gutter{% if full_page %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width {% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" id="fc-skeleton-{{ section.id }}-{{ index }}">
  <ul class="skeleton-wrapper grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ columns_desktop }}-col-desktop {% if collection_skeleton == blank %} grid--2-col-tablet-down{% else %} grid--{{ columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop {% endif %}{% unless full_page %} slider-page-width {% endunless %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}">
    {% for i in (1..products_count) limit: products_to_show %}
      <li class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div class="skeleton-wrapper-image"></div>
        <div class="skeleton-wrapper-information text-left">
          <div class="skeleton-title"></div>
          {%- if show_vendor -%}
            <div class="skeleton-vendor"></div>
          {%- endif -%}
          {%- if show_rating -%}
            <div class="skeleton-rating"></div>
          {%- endif -%}
          <div class="skeleton-price"></div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>