<!doctype html>
<html class="js scrollbar-smooth" lang="{{ request.locale.iso_code }}">
  <head>
    {{ content_for_header }}
  </head>

  <body class="gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}">

    <main
      id="MainContent"
      class="content-for-layout focus-none"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>