.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}

.tabbed-carousel__context-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  gap: 8px;
}

.tabbed-carousel.page-width {
  padding: 0;
}

.btn-title {
  touch-action: manipulation;
  background: rgb(var(--color-secondary-button));
  align-items: center;
  border-style: solid;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  gap: 4px;
  padding: 10px 8px;
  width: fit-content;
  border-color: #929396;
  border-width: 1px;
  color: rgb(var(--color-secondary-button-text));
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.btn-title.active,
.btn-title:hover {
  background: rgb(var(--color-button));
  color: rgb(var(--color-button-text));
}
.tabbed-carousel__title-and-tabs-wrapper {
  width: 100%;
}

.tabs-container {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  gap: 8px;
}

.carousel-system__button-wrap {
  border: 0;
  clip: rect(0, 0, 0, 0);
  margin: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s ease;
  white-space: nowrap;
  width: 1px;
  align-items: center;
  display: flex;
  height: calc(100% - var(--grid-mobile-horizontal-spacing));
  justify-items: center;
  position: absolute;
  top: 0;
  z-index: 10;
}

.carousel-system__button-wrap .slider-button {
  background-color: #ffffff;
  border: 1px solid #000;
  height: 48px;
  justify-content: center;
  padding: 0;
  width: 48px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  text-align: left;
  transition: transform 0.3s cubic-bezier(0.3, 0, 0, 1), color 0.3s;
  white-space: nowrap;
}

.carousel-system__button-wrap .slider-button .icon {
  height: 1rem;
}

.carousel-system__button-wrap-prev {
  left: 0;
}

.carousel-system__button-wrap-next {
  right: 0;
}

.carousel-system__button-wrap [disabled='disabled'] {
  opacity: 0;
  pointer-events: none;
}

slider-component:hover .carousel-system__button-wrap {
  border: initial;
  clip: auto;
  height: unset;
  margin: initial;
  opacity: 1;
  overflow: initial;
  padding: initial;
  position: static;
  white-space: normal;
  width: unset;
  height: calc(100% - var(--grid-mobile-horizontal-spacing));
  position: absolute;
}

slider-component:not(:hover) .carousel-system__button-wrap:has(button:focus),
slider-component:not(:hover) .carousel-system__button-wrap:has(button:focus-visible) {
  border: initial;
  clip: auto;
  height: unset;
  margin: initial;
  opacity: 1;
  overflow: initial;
  padding: initial;
  position: static;
  white-space: normal;
  width: unset;
  height: 100%;
  position: absolute;
}

.button-carousel__action {
  width: 100%;
  position: relative;
  height: 48px;
}

.suggestion {
  display: flex;
  gap: 4px;
}

.button-explore-now {
  color: #252525;
  font-size: 14px;
  font-weight: 600;
  line-height: 28.8px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition-property: color, background-color, border-color, border-bottom-color;
  transition-property: color, background-color, border-color, border-bottom-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.33, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.33, 0, 0.3, 1);
  position: relative;
}

.button-explore-now:hover:after,
.button-explore-now:focus:after {
  -webkit-animation: cta-underline-animation 0.2s both;
  animation: cta-underline-animation 0.2s both;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.heading-no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.button-explore-now:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  height: 2px;
  background-color: currentColor;
  margin-right: 2rem;
}

@media screen and (min-width: 768px) {
  .tabbed-carousel__title-and-tabs-wrapper {
    width: 80%;
  }
  .tabbed-carousel__context-wrapper {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .carousel-system__button-wrap {
    height: calc(100% - var(--grid-desktop-horizontal-spacing));
  }

  slider-component:hover .carousel-system__button-wrap {
    height: calc(100% - var(--grid-desktop-horizontal-spacing));
  }
}

@media screen and (max-width: 767px) {
  .button-explore-now {
    margin-top: 25px;
    font-size: 14px;
    line-height: 19.6px;
  }
}
